In [2]:
import pandas as pd

In [5]:
def start():
    options = {
        'display': {
            'max_columns': None,
            'max_colwidth': 25,
            'expand_frame_repr': False,  # Don't wrap to multiple pages
            'max_rows': 14,
            'max_seq_items': 50,         # Max length of printed sequence
            'precision': 4,
            'show_dimensions': False
        },
        'mode': {
            'chained_assignment': None   # Controls SettingWithCopyWarning
        }
    }

    for category, option in options.items():
        for op, value in option.items():
            pd.set_option(f'{category}.{op}', value)  # Python 3.6+

if __name__ == '__main__':
    start()
    del start  # Clean up namespace in the interpreter

In [6]:
pd.__name__

'pandas'

In [7]:
pd.get_option('display.max_rows')

14

### Vamos usar alguns dados do abolone hosted by the UCI Machine Learning Repository para desmostrar a formatção que foi definido no arquivo de inicialização.  Os dados vai aparecer 14 linhas e com 4 gdigitos de precisão

In [8]:
url = ('https://archive.ics.uci.edu/ml/'
       'machine-learning-databases/abalone/abalone.data')
cols = ['sex', 'length', 'diam', 'height', 'weight', 'rings']
abalone = pd.read_csv(url, usecols=[0, 1, 2, 3, 4, 8], names=cols)

In [9]:
abalone

     sex  length   diam  height  weight  rings
0      M   0.455  0.365   0.095  0.5140     15
1      M   0.350  0.265   0.090  0.2255      7
2      F   0.530  0.420   0.135  0.6770      9
3      M   0.440  0.365   0.125  0.5160     10
4      I   0.330  0.255   0.080  0.2050      7
...   ..     ...    ...     ...     ...    ...
4172   F   0.565  0.450   0.165  0.8870     11
4173   M   0.590  0.440   0.135  0.9660     10
4174   M   0.600  0.475   0.205  1.1760      9
4175   F   0.625  0.485   0.150  1.0945     10
4176   M   0.710  0.555   0.195  1.9485     12

# Faça estruturas de dados de brinquedos com o módulo de teste do PANDAS

-Escondido no módulo de teste do Pandas, há várias funções convenientes para criar rapidamente séries e quadros de dados quase realistas:

In [11]:
import pandas.util.testing as tm 

tm.N, tm.K=15, 3
import numpy as np

tm.makeTimeDataFrame(freq='M').head()

                 A       B       C       D
2000-01-31 -0.5389 -0.6372  2.8773  0.9910
2000-02-29  1.6118 -0.6578  0.4535 -1.3834
2000-03-31 -0.2541 -0.1777  0.5839 -0.3977
2000-04-30  1.4887 -0.9023 -0.5617 -0.8083
2000-05-31  0.0272  1.0845  1.1502 -0.2391

In [12]:
tm.makeDataFrame().head()

                 A       B       C       D
wf2g79UH8M  0.4910  1.0840  0.5775 -1.0103
gSV2ee8sVj -0.5816  0.0524 -1.1459  1.6945
afgqRsGhJF -0.1189 -0.8394 -3.0857 -0.5541
DN6wtTsQET -0.2561 -0.6568 -0.8701 -0.1095
vAXetflVef -0.6397  1.4575  0.5628  0.9739

In [13]:
[i for i in dir(tm) if i.startswith('make')]

['makeBoolIndex',
 'makeCategoricalIndex',
 'makeCustomDataframe',
 'makeCustomIndex',
 'makeDataFrame',
 'makeDateIndex',
 'makeFloatIndex',
 'makeFloatSeries',
 'makeIntIndex',
 'makeIntervalIndex',
 'makeMissingCustomDataframe',
 'makeMissingDataframe',
 'makeMixedDataFrame',
 'makeMultiIndex',
 'makeObjectSeries',
 'makePeriodFrame',
 'makePeriodIndex',
 'makePeriodSeries',
 'makeRangeIndex',
 'makeStringIndex',
 'makeStringSeries',
 'makeTimeDataFrame',
 'makeTimeSeries',
 'makeTimedeltaIndex',
 'makeUIntIndex',
 'makeUnicodeIndex']

# Aproveite os métados de acesso
- Talvez você já tenha ouvido falar do termo acessador, que é como um getter (embora getters e setters sejam usados com pouca frequência em Python). Para nossos propósitos aqui, você pode pensar em um acessador do Pandas como uma propriedade que serve como uma interface para métodos adicionais.